.header{
    position: fixed;
    top: 0;
    width: 100%; 
    z-index: 10;
    background-color: #912105;

    &__container{
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 30px;
        min-height: 70px;
    }

    &__logo{
        border-radius: 50%;
        background-color: #fff;
        position: relative;
        z-index: 5;
        width: 40px;
        height: 40px;
    }
}

.menu{

    &__list > li{
        position: relative;
        margin: 0px 0px 0px 20px;
    }

    &__link{
        color: #fff;
        font-size: 18px;

        &:hover{
            text-decoration: underline;
        }
    }

    &__sub-list{
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #000;
        padding: 15px;
        min-width: 200px;

        li{
            margin: 0px 0px 10px 0px;

            &:last-child{
                margin: 0;
            }
        }
    }

    &__sub-link{
        color: #fff;

        &:hover{
            text-decoration: underline;
        }
    }
}

@media (min-width: 676px){
    .menu{

        &__list{
            display: flex;
            align-items: center;
        }

        &__list > li{
            padding: 10px 0px;
        }

        &__sub-list{
            transform: translate(0px, 10%);
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease 0s;
            pointer-events: none;
        }
    }
}